.ContactMe {
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(70vh + 80px);
  overflow: hidden;
  position: relative;
  max-width: 100%;
  margin-bottom: unset;
  padding-bottom: 80px;

  .ContactMe-Background {
    position: absolute;
    top: 50px;
    left: 50px;
    transform: translate(-50%, -50%);

    > img {
      opacity: .04;
      width: 230vw;
    }
  }
  
  h2, h3 {
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    line-height: 1.35em;
    text-transform: capitalize;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    max-width: 1270px;
  }
  
  > a {
    width: calc(100% - 10px);
    max-width: 378px;
    height: 80px;
    background-color: #25d366;
    border-radius: 15px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
    position: relative;
    margin-top: 40px;
  }

  .ContactMe-WhatsApp {
    width: 44px;
  }
}

@media (max-width: 766px) {
  .ContactMe {

    h3 {
      font-size: 24px;
    }
  }
}

@media (max-width: 350px) {
  .ContactMe {
    h3 {
      font-size: 20px;
    }
  }
}

@media (max-width: 300px) {
  .ContactMe {
    h3 {
      font-size: 19px;
    }
  }
}